body{
    background-color: white;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1rem;
    background-image: url("C:\\Users\\intel\\Desktop\\ML-project\\images\\mFine-Lead-Image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
img{
    position: absolute;
}
.fluid-container{
    margin-left:60%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.form-row{
    margin : 15px;
    padding: 5px;
}
.btn-dark{
    margin : 20px;
}
